.Button {
  appearance: unset;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 8px;
  font-weight: bold;
  position: relative;
  isolation: isolate;
  cursor: pointer;

  outline: solid rgba(0, 0, 0, 0.1) 0.25px;

}

.ButtonBg {
  background: #EEEEEE;
  border-radius: 8px;
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}