.ImageLayers {
  position: relative;
  /* border-radius: 2px; */
  /* overflow: visible; */
  perspective: 1000px;

  --box-shadow: var(--box-shadow-1);


  & .ImageBackground {
    transition: box-shadow var(--duration, 0.5s) ease;
    box-shadow: var(--box-shadow);
  }

  &:hover .ImageBackground {
    box-shadow: var(--box-shadow-4);

  }
}


.ImageBackground {}

.ImageLayer {
  position: absolute;
  inset: 0;
  border-radius: 2px;
  pointer-events: none;
  transform-style: preserve-3d;
  transform-origin: 50%;
}