
.LinkButton {
  appearance: unset;
  display: inline-block;
  position: relative;
  isolation: isolate;
  
  cursor: pointer;

  text-decoration: none;
  font-weight: var(--font-weight-bold);
  color: var(--foreground-color-1);

  overflow: visible;

  /* &:not(:hover){
    outline: solid rgba(0, 0, 0, 0.1) 0.25px;
  } */

}

.LinkButtonBg {
  background: hsla(0, 0%, 0%, 0.05);
  border-radius: 8px;
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}