.Layout {
  margin: 0 auto;
  max-width: 1000px;
  padding: 80px;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 80px;
}

.ButtonRow {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.LinkButtonTestInside {
  padding: 8px 16px;
}

.ImageLayers {
  position: relative;
  background-color: #121212;
  border-radius: 2px;
  box-shadow: var(--box-shadow-2);
}

.ImageBase {
  border-radius: 2px;
}

.ImageLayer {
  position: absolute;
  inset: 0;
  border-radius: 2px;
}