.Layout {
  margin: 0 auto;
  max-width: 1400px;
  padding: 80px;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 80px;
}

.ButtonRow {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 40px 0;

  &:hover .HeroImage{
    --box-shadow: var(--box-shadow-3);
  }
}

.HeroImage{}

.LinkButtonTestInside {
  padding: 8px 16px;
}

