.NavWrapper {
  width: 100%;
  max-width: var(--column-max);
  margin: 0 auto;
  padding: 0 var(--column-padding);
  box-sizing: border-box;
}

.NavLayout {
  max-width: var(--column-full);
  display: flex;
  gap: 4px 20px;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 0 -12px; */
  padding: 0 0 24px 0;
}

.NavSpacer {
  display: inline-block;
}

.NavLink {
  color: var(--foreground-color-2);
  padding: 6px 12px;
  margin: 0 -12px;
}

.NavLink:hover {
  color: var(--foreground-color-1);
}

.Active {
  color: var(--foreground-color-1);
  background-color: var(--background-color-3);
  z-index: 1;

  transition-duration: calc(var(--link-button-duration, 0.15s) * 0.5);

  &:hover {
    background-color: transparent;
    transition-delay: calc(var(--link-button-duration, 0.15s) * 0.5);

    & > div:first-child {
      background-color: var(--background-color-4);
    }
  }
}

.NavLinkInside {
  display: inline-flex;
  align-items: baseline;
  gap: 1ch;
  && {
    padding: 0;
  }
}

.CountBadge {
  font-size: var(--font-size-6);
  opacity: 0.6;
  font-variant-numeric: tabular-nums;
  font-weight: var(--font-weight-normal);
}

.Active .CountBadge {
  opacity: 0.85;
}

@media (max-width: 600px) {
  .NavLayout {
    padding-bottom: 16px;
  }
}
