:root {
  /* --plex-font-family- are from layout.tsx */
  --font-family-sans: var(--plex-font-family-sans, sans-serif), sans-serif;
  --font-family-mono: var(--plex-font-family-mono, monospace), monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 500;

  --background-color-1: hsl(0, 0%, 100%);
  --background-color-2: hsl(0, 0%, 97%);
  --background-color-3: hsl(0, 0%, 93%);
  --background-color-4: hsl(0, 0%, 88%);

  --border-color-1: hsl(0, 0%, 90%);
  --border-1: 1px solid var(--border-color-1);
  --border-color-2: hsla(0, 0%, 0%, 0.05);
  --border-2: 1px solid var(--border-color-2);

  --foreground-color-1: hsl(0, 0%, 0%);
  --foreground-color-2: hsl(0, 0%, 25%);
  --foreground-color-3: hsl(0, 0%, 47%);
  --foreground-color-4: hsl(0, 0%, 75%);

  --accent-color-1: rgb(0, 0, 255);

  --font-size-1: 32px;
  --font-size-2: 24px;
  --font-size-3: 18px;
  --font-size-4: 16px;
  --font-size-5: 14px;
  --font-size-6: 12px;

  --line-height: 1.4;

  --border-radius: 8px;

}

@media (prefers-color-scheme: dark) {

  /* :root:not(.lightTheme) { */
  :root {
    color-scheme: dark;

    --background-color-1: hsl(0, 0%, 6%);
    --background-color-2: hsl(0, 0%, 9%);
    --background-color-3: hsl(0, 0%, 12%);
    --background-color-4: hsl(0, 0%, 17%);

    --border-color-1: hsl(0, 0%, 10%);
    --border-1: 1px solid var(--border-color-1);
    --border-color-2: hsla(0, 0%, 100%, 0.05);
    --border-2: 1px solid var(--border-color-2);

    --foreground-color-1: hsl(0, 0%, 100%);
    --foreground-color-2: hsl(0, 0%, 75%);
    --foreground-color-3: hsl(0, 0%, 53%);
    --foreground-color-4: hsl(0, 0%, 25%);
  }
}

html {
  font-family: var(--font-family-sans);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-5);
  color: var(--foreground-color-2);
  background-color: var(--background-color-2);
  /* text-wrap: balance; */
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: var(--foreground-color-1);
  text-decoration-color: var(--foreground-color-3);

  &:hover {
    text-decoration-color: var(--foreground-color-1);
  }
}