.ArticleLayout {
  margin: 0 auto;
  width: 100%;
  max-width: var(--column-full);
  padding: var(--column-padding);
}

.ColumnTextChildren {
  &>* {
    max-width: var(--column-text);
  }
}

.ColumnFull {
  max-width: unset;
}

.ColumnMax {
  width: 100vw;
  width: var(--clientWidth, 100vw);
  max-width: var(--column-max);
  padding: 0 var(--column-padding);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ColumnBreakout {
  width: 100%;
  display: flex;
  align-items: center;
}

.PageElements {

  & p {
    margin-block: .5rem;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-block: .5rem;
    margin-top: 2em;
    line-height: 1.2;
  }

}

.MetaHeader {

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    & code {
      display: block;

      color: var(--foreground-color-3);
      font-size: var(--font-size-6);
      font-family: var(--font-family-sans);
      font-weight: var(--font-weight-normal);

      text-transform: uppercase;
      letter-spacing: var(--letter-spacing-1);
    }
  }
}

.Columns {
  display: grid;
  --gap: 16px;
  gap: var(--gap);
}

.Columns1 {
  grid-template-columns: repeat(1, 1fr);
}

.Columns2 {
  grid-template-columns: repeat(2, 1fr);
}

.Columns3 {
  grid-template-columns: repeat(3, 1fr);
}

.Columns4 {
  grid-template-columns: repeat(4, 1fr);
}

.Columns5 {
  grid-template-columns: repeat(5, 1fr);
}

.Columns6 {
  grid-template-columns: repeat(6, 1fr);
}