.HeaderWrapper {}

.HeaderLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px 24px;

  margin: 0 auto;
  max-width: var(--column-max);
  padding: var(--column-padding);
}

.HeaderText {  
  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1em;
  }
}

.HeaderNav {
  margin: 0 -16px;
}