.HeaderLayout {
  padding: 48px;
  position: relative;
  border-bottom: var(--border-1);
  background-color: var(--background-color-2);
}

.HeaderText {
  margin-bottom: 24px;
}

.HeaderDetails {
  max-width: 640px;
}

.HeaderNav {
  position: absolute;
  top: 0;
  right: 0;
  /* left: 0; */
  max-width: 100%;
  padding: 48px;
}

