.Layout {}

.ProjectsSection {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  background-color: var(--background-color-1);
}

.ProjectLinkList {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.ProjectLink {
  flex: 1 1 33%;
}