.Layout {
  background-color: var(--background-color-1);

}

.ProjectsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 64px;
}

.ProjectsDescription {
  flex: 1 0 240px;
  max-width: 500px;
  text-wrap: balance;

  & p {
    margin: 8px 0;
  }
}

.ProjectsContent {
  flex: 5 0 75%;
  max-width: 1100px;
  margin: -16px -20px;
}

.ProjectLinkList {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.ProjectLink {
  flex: 1 1 33%;
  min-width: 300px;
}